#precos {
  background-color: var(--cor-precos);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
  }
  
.titulo-precos {
  display: flex;
  justify-content: center;
  margin-bottom:20px;
}
  
.produtos {
  display: flex; 
   
}
  
.produtos li {
  display: inline-block;
  text-align: center;
  width: 100%;
  max-width: 300px;
  vertical-align: top;
  margin: 0 1.5%;
  margin-bottom: 20px;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid var(--cor-borda);
  border-radius: 10px;
  background-color: var(--cor-de-sobre);
}
  
.produtos li:hover {
  border-color: var(--cor-hover-preco);
}
  
.produtos li:active {
    border-color: #088C19;	
}
  
.produtos li:hover h2 {
  font-size: 34px;
}
  
.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}
  
.produto-descricao {
  font-size: 18px;
}
  
.produto-preco {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}
  
.imagem-preco {
  width: 80%;
}