#precos {
    background-color: var(--cor-precos);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 10px;
  }
  
  .titulo-precos {
    display: flex;
    justify-content: center;
  }
  
  .produtos {
      width: 940px;
      margin: 0 auto;
      padding: 50px 0;
  }
  
  .produtos li {
      display: inline-block;
      text-align: center;
      width: 30%;
      vertical-align: top;
      margin: 0 1.5%;
      padding: 30px 20px;
      box-sizing: border-box;
      border: 2px solid var(--cor-borda);
      border-radius: 10px;
    background-color: var(--cor-de-sobre);
  }
  
  .produtos li:hover {
      /* border-color: #C78C19; */
    border-color: var(--cor-hover-preco);
  }
  
  .produtos li:active {
      border-color: #088C19;	
  }
  
  .produtos li:hover h2 {
      font-size: 34px;
  }
  
  .produtos h2 {
      font-size: 30px;
      font-weight: bold;
  }
  
  .produto-descricao {
      font-size: 18px;
  }
  
  .produto-preco {
      font-size: 22px;
      font-weight: bold;
      margin-top: 10px;
  }
  
  .imagem-preco {
    width: 80%;
  }