.copyright {
	color: white;
	font-size: 13px;
	margin: 0 0;
}

footer {
	text-align: center;
	background-color: var(--header-cor-de-fundo);
	padding: 0 0;
  margin: 0 0;
}

.logo-rodape {
  width: 10%;
}